<!DOCTYPE html>
<html ng-app="application" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Service</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/dist/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script th:src="@{/webjars/angular/1.5.8/angular.min.js}"></script>
    <script th:src="@{/js/script.js}"></script>
</head>

<body ng-controller="controller">
<!--    Header-->
<div class="container">
    <h1>Register</h1>
</div>
<hr />

<!-- Home Section-->
<div class="container col-lg-offset-9" ng-show="showRegister">
    <button class="btn btn-primary col-lg-2" type="submit" ng-click="toForm()">Register</button>
</div>

<!-- Form Section-->
<div class="container" ng-show="showForm">
    <form name="frm" ng-submit="submit()" novalidate="novalidate">
        <div class="col-lg-4 col-lg-offset-4">
            <!--Form Title-->
            <p class="account-p">Create your account</p>
            <!--Error Message-->
            <div class="alert alert-danger" ng-show="result.invalidEmail || result.invalidPassword">
                <strong>Error!</strong>
                <p>{{result.emailViolationMessage}}</p>
                <p>{{result.passwordViolationMessage}}</p>
            </div>
            <!--ConfirmationEmail Field-->
            <div class="form-group" ng-class="{'has-error': result.invalidEmail}">
                <label class="sr-only"  for="email">Email Address</label>
                <input name="email" id="email" placeholder="Email Address" class="form-control" type="text" ng-model="user.email" />
                <small class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <!--Password Field-->
            <div class="form-group" ng-class="{'has-error': result.invalidPassword}">
                <label class="sr-only" for="password">Password</label>
                <input name="password" id="password" placeholder="Password" class="form-control" type="password" ng-model="user.password" />
            </div>
        </div>
        <!--Submit Button Field-->
        <div class="col-lg-4 col-lg-offset-4">
            <button class="btn btn-primary col-lg-6 col-lg-offset-6" type="submit">Submit</button>
        </div>
    </form>
</div>

<!-- Conformation Section-->
<div class="container" ng-show="showConfirm">
    <h1>Check Your Email !</h1>
</div>

<hr />
<footer class="text-center">
    <div class="container">
        <p class="text-muted col-lg">&copy; AveOwl 2016</p>
    </div>
</footer>

</body>


</html>