<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="application">
<head>
    <title>Registration Service</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/webjars/skeleton-css/2.0.4/css/skeleton.css}"
          href="webjars/skeleton-css/2.0.4/css/skeleton.css" />
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/static/css/style.css" />
    <script th:src="@{/webjars/angularjs/1.5.7/angular.min.js}"
            src="webjars/angularjs/1.5.7/angular.min.js"></script>
    <script th:src="@{/js/angular.js}" src="/static/js/angular.js"></script>

</head>
<body ng-controller="FormController">

<div th:replace="fragments/header :: header"></div>
<hr />

<!-- Home Section-->
<div id="home" class="container" ng-show="showHome">
    <button id="homeButton" class="u-pull-right button-primary" type="submit" ng-click="go()">Register</button>
</div>

<!-- Form Section-->
<div id="register" class="container" ng-show="showRegister">


    <form ng-submit="processForm()"
          id="registerForm"
          th:action="@{/registration}"
          th:object="${user}"
          method="post"
          novalidate="novalidate">
        <!--Email Field-->
        <div class="row">
            <div class="six columns">
                <label>Email</label>
                <input type="email"
                       placeholder="John@domain.com"
                       class="u-full-width"
                       ng-class="{'field-error' : errorEmail}"
                       th:field="*{email}"
                       ng-model="formData.email"/>
                <span ng-class="{'has-error' : errorEmail}" ng-show="errorEmail">{{ errorEmail }}</span>
            </div>
        </div>
        <!--Password Field-->
        <div class="row">
            <div class="six columns">
                <label>Password</label>
                <input type="password"
                       placeholder="Password"
                       class="u-full-width"
                       ng-class="{'field-error' : errorPass}"
                       th:field="*{password}"
                       ng-model="formData.password"/>
                <span ng-class="{'has-error' : errorPass}" ng-show="errorPass">{{ errorPass }}</span>
            </div>
        </div>
        <!--Submit Button Field-->
        <div class="row">
            <div class="six columns">
                <input class="button-primary u-pull-right" type="submit" value="Submit" />
                <span id="serverError"></span>
            </div>
        </div>

        <pre>{{formData}}</pre>

    </form>

</div>

<!-- Conformation Section-->
<div id="confirm" class="container" ng-show="showConfirm">
    <h1>Check Your Email !</h1>
</div>

<hr />
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>