<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Confirm</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/skeleton.css}"
          href="/static/css/skeleton.css" />
    <link rel="stylesheet" th:href="@{/css/normalize.css}"
          href="/static/css/normalize.css" />
    <link rel="stylesheet" th:href="@{/css/custom.css}"
          href="/static/css/custom.css" />
    <script th:src="@{/js/jquery.storageapi.min.js}"
            src="/static/js/jquery.storageapi.min.js"></script>
    <script type="text/javascript" th:src="@{/js/register.js}"
            src="/static/js/register.js"></script>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <hr />

    <div id="confirm" class="container">
        <h1>Check Your Email !</h1>
    </div>

    <hr />
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>