<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/skeleton.css}"
          href="/static/css/skeleton.css" />
    <link rel="stylesheet" th:href="@{/css/normalize.css}"
          href="/static/css/normalize.css" />
    <link rel="stylesheet" th:href="@{/css/custom.css}"
          href="/static/css/custom.css" />
    <script th:src="@{/js/jquery.js}"
            src="/static/js/jquery.js"></script>
    <script th:src="@{/js/jquery.storageapi.min.js}"
            src="/static/js/jquery.storageapi.min.js"></script>
    <script th:src="@{/js/register.js}"
            src="/static/js/register.js"></script>
</head>
<body>

<div th:replace="fragments/header :: header"></div>
<hr />

<div id="home" class="container">
    <button class="u-pull-right button-primary" type="submit">Register</button>
</div>

<div id="register" class="container hidden">

    <form th:action="@{/registration}"
          th:object="${user}"
          method="post"
          novalidate="novalidate">
        <div class="row">
            <div class="six columns">
                <label for="email">Email</label>
                <input id="email"
                       class="u-full-width"
                       type="email"
                       th:field="*{email}" />
                <span class="has-error"
                      th:if="${#fields.hasErrors('email')}"
                      th:errors="*{email}">
                </span>
            </div>
        </div>
        <div class="row">
            <div class="six columns">
                <label for="password">Password</label>
                <input id="password"
                       class="u-full-width"
                       type="password"
                       th:field="*{password}" />
                <span class="has-error"
                      th:if="${#fields.hasErrors('password')}"
                      th:errors="*{password}">
                </span>

                <input class="button-primary u-pull-right"
                       type="submit"
                       value="Submit" />
            </div>
        </div>
    </form>

</div>

<hr />
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>